@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@400&family=Poppins:wght@300&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
input{
    border: none;
    outline: none;
    padding: 3px 2px;
}
.layout{
    display: grid;
    height: 100vh;
    grid-template-rows:  1fr auto;
    }

    .carousel{
        display: flex;
        justify-content: center;
    }
    .carousel .slide{
        height: 250px;
        object-fit: cover;
    }